<div ng-controller="CommentController">
    <div>
         <ul>
             <li ng-repeat = "comment in comments">{{comment}}</li>
        </ul>
    </div>
 <form name="commentForm" novalidate>
        <error ng-show= "commentForm.$submitted && commentForm.commentField.$error.required"> Comment should be at least 1 character long</error> <br/>
        <input type='textarea'  ng-model='newComment.text' ng-maxlength='40'/> 
        <br/>
        <button type='submit' ng-click="commentForm.$valid && sendNewComment()">Post</button>
        
    </form>
</div>