
ui-view.ng-enter, ui-view.ng-leave, ui-view.ng-show, ui-view.ng-hide {
	position: absolute;
	left: 0;
	right: 0;
	-webkit-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

ui-view.ng-enter {
	opacity: 0;
}

ui-view.ng-enter-active {
	opacity: 1;
}

ui-view.ng-leave {
	opacity: 1;
}

ui-view.ng-leave-active {
	opacity: 0;
}




/*.toggle {
	-webkit-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

.toggle.ng-enter {
	opacity: 0;
}

.toggle.ng-enter-active {
	opacity: 1;
}

.toggle.ng-leave {
	opacity: 1;
}

.toggle.ng-leave-active {
	opacity: 0;
}*/