<div ng-controller="NewCardController">
 <form name="newCardForm" novalidate>
        <error ng-show= "newCardForm.$submitted && newCardForm.questionField.$error.required"> Question is required</error> <br/>
        <error ng-show= "newCardForm.$submitted && newCardForm.questionField.$error.minlength"> Your question is too short</error> <br/>
        Question: <input type='text' name='questionField'placeholder='question' ng-model='newCard.question' required ng-minlength='15'/> <br/>
        <error ng-show= "newCardForm.$submitted && newCardForm.categoryField.$invalid"> Category is required</error> <br/>

        
        Category: <select name='categoryField' ng-model='newCard.category' required> 
                    <option> MongoDB</option>
                    <option> Express</option>
                    <option> Angular</option>
                    <option> Node</option>
                  </select>
        <br/>

        <input type="checkbox" name="correct" ng-click='optionClick(0);' value="correct" ng-model='newCard.answers[0].correct'/>
        <input type='text'  ng-model='newCard.answers[0].text' ng-maxlength='40'/> 
        <br/>

        <input type="checkbox" name="correct" value="correct" ng-click='optionClick(1);' ng-model='newCard.answers[1].correct'/>
        <input type='text'  ng-model='newCard.answers[1].text' ng-maxlength='40'/> 
        <br/>

        <input type="checkbox" name="correct" value="correct" ng-click='optionClick(2);' ng-model='newCard.answers[2].correct'/>
        <input type='text' ng-model='newCard.answers[2].text' ng-maxlength='40'/> 
        <br/>

        <button type='submit' ng-click="newCardForm.$valid && updateCard()" ng-if='isEditing'>edit</button>
        <button type='submit' ng-click="newCardForm.$valid && sendNewCard(newCard)" ng-if='!isEditing'>submit</button>
        <!-- sendMeCard() used to be in button but now moved up to 'form' -->
        
    </form>
</div>