
<section id='mainLeft' ng-show="answeredCorrectly">
<span class="glyphicon glyphicon-ok-circle" aria-hidden="false"></span>
</section>
<section id='main'>
    <h3>{{poll.category}}</h3>
    <h1>{{poll.question}}</h1>
	<div id="options" ng-hide="showResult">
    <ul class="optionContainer">
        <li class="option">A</h3>
        <li class="circle first">OR</h3>
        <li class="option">B</h3>
    </ul>
	</div>
    <ul class="flash-card-answers">
        <li class="flash-card-answer" border-on-hover ng-click="answerQuestion('left')" ng-hide="hideLeft">
            {{poll.answers[0].text}}
        </li>
        <li class="flash-card-answer" border-on-hover ng-click="answerQuestion('right')" ng-hide="hideRight">
            {{poll.answers[1].text}}
        </li>
        <li class="flash-card-answer" ng-show="hideRight">
            {{leftClickCount}}
        </li>
         <li class="flash-card-answer" ng-show="hideLeft">
            {{rightClickCount}}
        </li>
    </ul>
<button ng-hide='hideRight||hideLeft' ng-click='editListner()'>edit</button>
<button ng-show='hideRight||hideLeft'>Comment</button>
 </section>
 <section id='mainRight' ng-show="answeredCorrectly===false && answered">
<span class="glyphicon glyphicon-remove-circle" aria-hidden="false"></span>
</section>
<edit ng-show='isEditing'></edit>



